.git
.github
.allinssl*
allinssl
data
logs
node_modules
frontend/node_modules
frontend/**/node_modules
frontend/apps/allin-ssl/dist
frontend/.sync-git
frontend/.sync-log
frontend/.turbo
frontend/**/*.tsbuildinfo
backend/internal/dnscontrol
static/build/index.html
static/build/static/css
static/build/static/js
static/build/static/png
